/* COLOR VARIABLES */
:root {
  --primary_red: #e9283f;
  --dark_text: #000;
  --red_text: #e9283f;
  --white_text: #fff;
  --link_hover: #e9283f;
  --h1: 4.5rem;
  --h2: 3rem;
  --h3: 2rem;
  --h4: 1.5rem;
  --link: 1.25rem;
  --text: 1.5rem;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}

* {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.header__navbar {
  width: 100%;
  height: 9.5rem;
  background-color: #fff;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}

.header__logo {
  width: 185px;
  height: 52px;
  margin-left: 6.5rem;
}
.header__logo {
  align-self: center;
}

.header__nav,
.header__lang {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
}

.header__nav-link,
.header__lang-link {
  text-decoration: none;
  font-weight: var(--bold);
  font-size: var(--link);
  color: var(--dark_text);
  transition: 0.3s;
}

.header__nav-link:hover,
.header__lang-link:hover {
  color: var(--link_hover);
}

.header__lang {
  gap: 2rem;
  margin-right: 6.5rem;
}

.hero__section {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  background-image: url("./img/header_img.jpg");
  background-image: url("./img/header_img.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__section-title {
  grid-row: 3/4;
  font-size: var(--h1);
  font-weight: var(--bold);
  color: var(--red_text);
  line-height: 96px;
  margin: 0 6.5rem 0 6.5rem;
  text-transform: uppercase;
}

.hero__section-text {
  grid-row: 4/5;
  font-size: var(--h4);
  font-weight: var(--medium);
  color: var(--white_text);
  line-height: 36px;
  margin: 0 6.5rem 0 6.5rem;
}

.about {
  background-image: repeating-linear-gradient(
    to right,
    #e9283f,
    #e9283f 50%,
    #fff 50%,
    #fff
  );
  display: flex;
  flex-direction: row;
}

.about__left {
  gap: 5.5rem;
}

.about__right {
  gap: 1.125rem;
}

.about__left,
.about__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 4.5rem 0 0 6.5rem;
}

.about__left-title {
  font-size: var(--h2);
  color: var(--white_text);
}

.about__left-text {
  width: 72%;
  font-size: var(--text);
  color: var(--white_text);
  text-align: justify;
}

.about__right-img img {
  border-radius: 20px;
}

.services {
  background-image: repeating-linear-gradient(
    to left,
    #e9283f,
    #e9283f 50%,
    #fff 50%,
    #fff
  );
  display: flex;
  flex-direction: row;
}

.services__left,
.services__right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.services__left {
  gap: 2rem;
  padding: 4.5rem 0 0 6.5rem;
}

.services__right {
  gap: 4rem;
  padding: 10rem 0 0 5rem;
  align-items: flex-end;
}

.services__left-title {
  width: fit-content;
  font-size: var(--h2);
  color: var(--red_text);
}

.services__left-subtitle {
  width: fit-content;
  font-size: var(--h3);
  font-weight: var(--bold);
}

.services__left-text {
  width: 82%;
  font-size: var(--text);
  color: var(--dark_text);
  text-align: justify;
}

.services__left-img img {
  border-radius: 20px;
  width: fit-content;
}

.services__right-text {
  display: inline-block;
  width: fit-content;
  font-size: var(--h3);
  color: var(--white_text);
  cursor: pointer;
  position: relative;
  margin-right: 50px;
}

.services__right-text:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  content: "";
  transition: width 0.3s ease-out;
}

.services__right-text:hover:after,
.services__right-text:focus:after {
  width: 100%;
}
