:root {
  /* COLOR VARIABLES */
  --primary_red: #e9283f;
  --dark_text: #000;
  --red_text: #e9283f;
  --white_text: #fff;
  --link_hover: #e9283f;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}

@font-face {
  font-family: Manrope;
  src: url("./fonts/Manrope-Regular.ttf");
}

/* DEFAULT STYLES */
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

main > section,
.footer {
  padding: 0 5%;
}

/* HEADER STYLES */
.header__navbar {
  position: fixed;
  width: 100%;
  height: 8.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}

.header__logo {
  align-self: center;
  width: 250px;
  height: 70px;
  padding: 0;
  margin-left: 6.5rem;
}

.header__nav,
.header__lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}

.header__nav-link,
.header__lang-link {
  text-decoration: none;
  color: var(--dark_text);
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: var(--bold);
  transition: 0.3s;
}

.header__lang-link:link {
  color: #e9283f;
}

.header__nav-link:hover,
.header__lang-link:hover {
  color: var(--link_hover);
}

.header__lang {
  margin-right: 6.5rem;
  gap: 2rem;
}

/* HERO STYLES */
.hero__section {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.8) 24%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("./img/header_img.jpg"), url("./img/header_img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
  padding-bottom: 75px;
  gap: 35px;
  background-position: 100%;
}

.hero__section-title {
  font-size: clamp(3rem, 4vw, 6rem);
  font-weight: var(--bold);
  color: var(--red_text);
  margin: 0;
}

.hero__section-text {
  margin: 0;
  width: 35%;
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: var(--medium);
  line-height: 35px;
  color: var(--white_text);
}

/* ABOUT SECTION STYLES */
.about {
  background-image: repeating-linear-gradient(
    to right,
    #e9283f,
    #e9283f 50%,
    #fff 50%,
    #fff
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about__left {
  gap: 50px;
}

.about__left,
.about__right {
  display: flex;
  flex-direction: column;
}

.about__right {
  justify-content: center;
  align-items: center;
}

.about__left-title {
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: var(--white_text);
}

.about__left-text {
  width: 80%;
  font-size: clamp(1rem, 4vw, 1.5rem);
  color: var(--white_text);
}

.about__right-img img {
  border-radius: 20px;
  width: 100%;
}

.services {
  background-image: repeating-linear-gradient(
    to left,
    #e9283f,
    #e9283f 50%,
    #fff 50%,
    #fff
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.services__title {
  display: none;
}

.services__left,
.services__right {
  display: flex;
  flex-direction: column;
}

.services__left div,
span,
img,
p {
  margin-top: 30px;
}

.services__right {
  gap: 66px;
  padding-top: 100px;
  padding-left: 80px;
  align-items: flex-start;
}

.services__left-title {
  width: fit-content;
  font-size: clamp(1rem, 4vw, 4rem);
  color: var(--red_text);
}

.services__left-subtitle {
  width: fit-content;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: var(--extra-bold);
}

.services__left-text {
  width: 80%;
  font-size: clamp(1rem, 4vw, 1.25rem);
  color: var(--dark_text);
}

.services__left-img img {
  border-radius: 20px;
  width: 80%;
}

.services__right-text {
  display: inline-block;
  width: fit-content;
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: var(--white_text);
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.services__right-text:hover {
  font-weight: var(--bold);
}

.services__right-text:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  content: "";
  transition: width 0.3s ease-out;
}

.services__right-text:hover:after,
.services__right-text:focus:after {
  width: 100%;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.footer__logo {
  width: 250px;
  height: 70px;
}

.footer__phone,
.footer__mail,
.footer__address {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-weight: var(--bold);
  color: var(--red_text);
}

.footer__phone a,
.footer__mail a,
.footer__address a {
  text-decoration: none;
  color: var(--dark_text);
  font-weight: var(--regular);
  transition: 0.3s;
}

.footer__phone a:hover,
.footer__mail a:hover,
.footer__address a:hover {
  text-decoration: none;
  color: var(--link_hover);
}

.footer__rights {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

#text2,
#text3,
#text4,
#text5,
#text6,
#title2,
#title3,
#title4,
#title5,
#title6 {
  display: none;
}

#img2,
#img3,
#img4,
#img5,
#img6 {
  display: none;
}
