@media (max-width: 1100px) {
  main > section,
  .footer {
    padding: 0 2%;
  }
  .header__logo {
    margin-left: 3.5rem;
  }
  .header__lang {
    margin-right: 3.5rem;
  }
  .about__left {
    gap: 2.5rem;
  }
  .about__left-text {
    width: 100%;
  }
  .services__left-text {
    width: 100%;
  }
  .services__left-img img {
    margin: 20px 0 0 0;
    width: 80%;
  }
}

@media (max-width: 972px) {
  main > section,
  .footer {
    padding: 0 1%;
  }
  .header__lang {
    margin-right: 1rem;
  }
  .header__logo {
    margin-left: 1rem;
  }
}

@media (max-width: 895px) {
  .header__lang {
    margin-right: 0.1rem;
  }
  .header__logo {
    margin-left: 0.1rem;
  }
}

@media (max-width: 870px) {
  .header__nav-link,
  .header__lang {
    display: none;
  }
  .header__logo {
    width: 160px;
    height: 50px;
    margin-top: 40px;
    margin-left: 20px;
  }
  .hero__section {
    padding-left: 20px;
    padding-bottom: 150px;
  }
  .about {
    background: #fff;
    display: flex;
    flex-direction: column;
  }
  .about__right {
    position: absolute;
    top: 135%;
    left: 8%;
    display: flex;
    flex-direction: row;
  }
  .about__right img {
    width: 90%;
    margin: 0;
  }
  .about__left {
    justify-content: center;
    align-items: center;
    row-gap: 350px;
  }
  .about__left-title {
    order: -1;
  }
  .about__left-text {
    width: 90%;
    order: 1;
    margin: 0;
  }
  .about__left-title,
  .about__left-text {
    color: var(--dark_text);
    align-items: center;
    text-align: center;
  }
  .services {
    display: flex;
    flex-direction: column;
    background: #e9283f;
    justify-content: center;
    align-items: center;
  }
  .services__left {
    display: none;
  }
  .services__title {
    width: fit-content;
    display: block;
    font-size: 48px;
    color: #fff;
  }
  .services__help-mobile {
    width: fit-content;
    display: block;
    color: #fff;
    margin: 0;
    text-align: center;
  }
  .services__right {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  .services__right-text {
    text-align: center;
  }
  .footer {
    justify-content: center;
    column-gap: 30px;
  }
}

@media (max-width: 500px) {
  .hero__section {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.8) 24%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../img/header_img.jpg"), url("../img/header_img.webp");
    background-size: cover;
    justify-content: flex-end;
    padding-bottom: 75px;
    background-position: 90%;
  }
  #first_img {
    display: none;
  }
  .about__right {
    top: 130%;
  }
}
